# Cleaning up age demographic by Wohnviertel data using pandas

The idea here is to use pandas to import the spreadsheet, investigate the structure and then clean it up and re-export as a csv file in a similar format to that used by the rest of the data files

In [7]:
# import necessary libraries
import pandas as pd
import os

In [31]:
# set some global variables
# probably a more elegant way of doing this....
file_path = os.path.join('..', 'data', 't01-1-22_Alter und Wohnviertel.xlsx')

In [32]:
# import the excel file 
data = pd.ExcelFile(file_path)

In [33]:
# take a look at the tabs in the spreadsheet
data.sheet_names

['Steckbrief',
 'Altstadt Grossbasel',
 'Vorstädte',
 'Am Ring',
 'Breite',
 'St. Alban',
 'Gundeldingen',
 'Bruderholz',
 'Bachletten',
 'Gotthelf',
 'Iselin',
 'St. Johann',
 'Altstadt Kleinbasel',
 'Clara',
 'Wettstein',
 'Hirzbrunnen',
 'Rosental',
 'Matthäus',
 'Klybeck',
 'Kleinhüningen',
 'Riehen',
 'Bettingen']

In [20]:
# I've already browsed the data in Excel and know the first sheet just contains metadata that isn't of interest
# while the rest contain data for each Wohnviertel. 
# Save a set of just the relevant tabs for use later using list slicing

wohnviertel_sheets = data.sheet_names[1:]

In [35]:
# take a look at the data for my favourite Wohnviertel
# the below returns the first 15 rows of a pandas dataframe based on the Breite sheet
data.parse('Breite').head(15)

,Präsidialdepartement des Kantons Basel-Stadt,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
NaN,Statistisches Amt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,t01.1.22,NaN,Wohnbevölkerung nach Staatsangehörigkeit und A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,Schweiz,NaN,NaN,NaN,Ausland,NaN,NaN,NaN,Gesamtbevölkerung,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Alter1,NaN,Männlich,Weiblich,Total,NaN,Männlich,Weiblich,Total,NaN,Männlich,Weiblich,Total,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,0-4,NaN,111,127,238,NaN,79,85,164,NaN,190,212,402,NaN,NaN,NaN,NaN,NaN
NaN,5-9,NaN,106,90,196,NaN,62,61,123,NaN,168,151,319,NaN,NaN,NaN,NaN,NaN
NaN,10-14,NaN,88,75,163,NaN,52,42,94,NaN,140,117,257,NaN,NaN,,NaN,NaN
NaN,15-19,NaN,108,92,200,NaN,54,45,99,NaN,162,137,299,NaN,NaN,,NaN,NaN
NaN,20-24,NaN,186,181,367,NaN,55,70,125,NaN,241,251,492,NaN,NaN,NaN,NaN,NaN
NaN,25-29,NaN,222,245,467,NaN,136,147,283,NaN,358,392,750,NaN,NaN,NaN,,NaN

In [37]:
# let's also take a look at the last 15 rows of the sheet
data.parse('Breite').tail(15)

,Präsidialdepartement des Kantons Basel-Stadt,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
NaN,55-59,NaN,188,233,421,NaN,78,62,140,NaN,266,295,561,NaN,NaN,NaN,NaN,NaN
NaN,60-64,NaN,160,198,358,NaN,75,54,129,NaN,235,252,487,NaN,NaN,NaN,NaN,NaN
NaN,65-69,NaN,135,205,340,NaN,39,37,76,NaN,174,242,416,NaN,NaN,NaN,NaN,NaN
NaN,70-74,NaN,145,215,360,NaN,29,29,58,NaN,174,244,418,NaN,NaN,,NaN,NaN
NaN,75-79,NaN,129,192,321,NaN,25,26,51,NaN,154,218,372,NaN,NaN,,NaN,NaN
NaN,80-84,NaN,103,214,317,NaN,18,15,33,NaN,121,229,350,NaN,NaN,NaN,NaN,NaN
NaN,85-89,NaN,63,162,225,NaN,5,6,11,NaN,68,168,236,NaN,NaN,NaN,NaN,
NaN,90-94,NaN,29,85,114,NaN,0,5,5,NaN,29,90,119,NaN,NaN,,NaN,NaN
NaN,95-99,NaN,6,14,20,NaN,1,1,2,NaN,7,15,22,NaN,,NaN,NaN,NaN
NaN,100-104,NaN,1,5,6,NaN,0,0,0,NaN,1,5,6,NaN,NaN,NaN,NaN,NaN
NaN,105-109,NaN,0,0,0,NaN,0,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
NaN,110-114,NaN,0,0,0,NaN,0,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
NaN,Gesamtbevölkerung,NaN,2696,3282,5978,0.0,1470,1456,2926,0.0,4166,4738,8904,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,1Für das Jahr 2017: Alter 0-4 = Geburtsjahrgän...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# The above returns a pandas dataframe
# Note a couple of things:
    # The first six rows don't include anything particularly useful nor do the last three
    # The index doesn't contain anything useful (ie NaN)
    # The column names aren't useful
    # The first column seems to contain the age bands
    # columns three and four contain the numbers of Swiss men and women respectively while the seventh and eight contain the numbers of non Swiss men and women
    # all other data columns simply contain totals that can be derived from the other data
    # the assumption is that all other tabs contain data in the same format

# So that's what the data looks like, now to clean it up

Let's try to drop the irrelevant rows and columns for a single sheet first and then create some code than can be used to iterate over all tabs and create a single dataframe of data that can then be re-exported as csv

In [40]:
# first pull the entire Breite sheet into a dataframe variable
df = data.parse('Breite')

In [55]:
# we next want to drop the columns we don't need and rename the ones we want to retain

In [54]:
# next drop the rows we don't need and create an index using the age bands column

In [56]:
# now we need to think about adding a new column or columns to tell us which wohnviertel we're talking about (follow standard of other data files)

In [57]:
# now we might want to think about transposing the different measures (ie swiss men, swiss women etc) into columns giving us just a single data column (again follow standard in other files)

In [58]:
# once this code works, create a simple loop over the relevant sheets to create a single dataframe for all wohnviertels

In [59]:
# then save the resulting dataframe as a csv using the same structure, delimiters etc as the other files

In [60]:
# next steps would be to amend the existing code in mapping to pull this new csv file in much the same way the current files are loaded