# Cleaning up age by Wohnviertel data using pandas

The idea here is to use pandas to import the spreadsheet, investigate the structure and then clean it up and re-export as a csv file in a similar format to that used by the rest of the data files

In [1]:
# import necessary libraries
import pandas as pd
import os

In [2]:
# set some global variables
# probably a more elegant way of doing this....
in_file_path = os.path.join('..', '..', 'data', 't01-1-22_Alter und Wohnviertel.xlsx')
out_file_path = os.path.join('..', '..', 'data', 'Alter und Wohnviertel.csv')

In [3]:
# import the excel file 
data = pd.ExcelFile(in_file_path)

In [4]:
# take a look at the tabs in the spreadsheet
data.sheet_names

['Steckbrief',
 'Altstadt Grossbasel',
 'Vorstädte',
 'Am Ring',
 'Breite',
 'St. Alban',
 'Gundeldingen',
 'Bruderholz',
 'Bachletten',
 'Gotthelf',
 'Iselin',
 'St. Johann',
 'Altstadt Kleinbasel',
 'Clara',
 'Wettstein',
 'Hirzbrunnen',
 'Rosental',
 'Matthäus',
 'Klybeck',
 'Kleinhüningen',
 'Riehen',
 'Bettingen']

In [5]:
# I've already browsed the data in Excel and know the first sheet just contains metadata that isn't of interest
# while the rest contain data for each Wohnviertel. 
# Save a set of just the relevant tabs for use later using list slicing

wohnviertel_sheets = data.sheet_names[1:]

In [6]:
# As it happens, the sheets are in the same order as the ids for the Wohnviertels in other data sources
# (ie 1 = Altstadt Grossbasel, 2 = Vortstädte etc) so we can leverage this when appending all the data together

In [7]:
# take a look at the data for my favourite Wohnviertel
# the below returns the first 15 rows of a pandas dataframe based on the Breite sheet
data.parse('Breite').head(15)

,Präsidialdepartement des Kantons Basel-Stadt,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
NaN,Statistisches Amt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,t01.1.22,NaN,Wohnbevölkerung nach Staatsangehörigkeit und A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,Schweiz,NaN,NaN,NaN,Ausland,NaN,NaN,NaN,Gesamtbevölkerung,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Alter1,NaN,Männlich,Weiblich,Total,NaN,Männlich,Weiblich,Total,NaN,Männlich,Weiblich,Total,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,0-4,NaN,111,127,238,NaN,79,85,164,NaN,190,212,402,NaN,NaN,NaN,NaN,NaN
NaN,5-9,NaN,106,90,196,NaN,62,61,123,NaN,168,151,319,NaN,NaN,NaN,NaN,NaN
NaN,10-14,NaN,88,75,163,NaN,52,42,94,NaN,140,117,257,NaN,NaN,,NaN,NaN
NaN,15-19,NaN,108,92,200,NaN,54,45,99,NaN,162,137,299,NaN,NaN,,NaN,NaN
NaN,20-24,NaN,186,181,367,NaN,55,70,125,NaN,241,251,492,NaN,NaN,NaN,NaN,NaN
NaN,25-29,NaN,222,245,467,NaN,136,147,283,NaN,358,392,750,NaN,NaN,NaN,,NaN

In [8]:
# let's also take a look at the last 15 rows of the sheet
data.parse('Breite').tail(15)

,Präsidialdepartement des Kantons Basel-Stadt,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
NaN,55-59,NaN,188,233,421,NaN,78,62,140,NaN,266,295,561,NaN,NaN,NaN,NaN,NaN
NaN,60-64,NaN,160,198,358,NaN,75,54,129,NaN,235,252,487,NaN,NaN,NaN,NaN,NaN
NaN,65-69,NaN,135,205,340,NaN,39,37,76,NaN,174,242,416,NaN,NaN,NaN,NaN,NaN
NaN,70-74,NaN,145,215,360,NaN,29,29,58,NaN,174,244,418,NaN,NaN,,NaN,NaN
NaN,75-79,NaN,129,192,321,NaN,25,26,51,NaN,154,218,372,NaN,NaN,,NaN,NaN
NaN,80-84,NaN,103,214,317,NaN,18,15,33,NaN,121,229,350,NaN,NaN,NaN,NaN,NaN
NaN,85-89,NaN,63,162,225,NaN,5,6,11,NaN,68,168,236,NaN,NaN,NaN,NaN,
NaN,90-94,NaN,29,85,114,NaN,0,5,5,NaN,29,90,119,NaN,NaN,,NaN,NaN
NaN,95-99,NaN,6,14,20,NaN,1,1,2,NaN,7,15,22,NaN,,NaN,NaN,NaN
NaN,100-104,NaN,1,5,6,NaN,0,0,0,NaN,1,5,6,NaN,NaN,NaN,NaN,NaN
NaN,105-109,NaN,0,0,0,NaN,0,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
NaN,110-114,NaN,0,0,0,NaN,0,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
NaN,Gesamtbevölkerung,NaN,2696,3282,5978,0.0,1470,1456,2926,0.0,4166,4738,8904,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,1Für das Jahr 2017: Alter 0-4 = Geburtsjahrgän...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN



# Note a couple of things about the data:
    - The first six rows don't include anything particularly useful nor do the last three
    - The index doesn't contain anything useful (ie NaN)
    - The column names aren't useful
    - The first column seems to contain the age bands
    - columns three and four contain the numbers of Swiss men and women respectively while the seventh and eight contain the numbers of non Swiss men and women
    - all other data columns simply contain totals that can be derived from the other data
    - the assumption is that all other tabs contain data in the same format

# So that's what the data looks like, now to clean it up

Let's try to drop the irrelevant rows and columns for a single sheet first and then create some code than can be used to iterate over all tabs and create a single dataframe of data that can then be re-exported as csv

In [9]:
# first pull the entire Breite sheet into a dataframe variable
df = data.parse('Breite')

# rename the columns ones we want to retain
df.rename(columns={'Präsidialdepartement des Kantons Basel-Stadt': 'Age bands', 'Unnamed: 2' : 'Swiss males', 'Unnamed: 3' : 'Swiss females', 'Unnamed: 6' : 'Non-swiss males', 'Unnamed: 7' : 'Non-swiss females'}, inplace = True)

# drop those we don't want
df.drop(['Unnamed: 1', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'], axis = 1, inplace = True)

df.head(10)

,Age bands,Swiss males,Swiss females,Non-swiss males,Non-swiss females
NaN,Statistisches Amt,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,t01.1.22,Wohnbevölkerung nach Staatsangehörigkeit und A...,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,Schweiz,NaN,Ausland,NaN
NaN,Alter1,Männlich,Weiblich,Männlich,Weiblich
NaN,NaN,NaN,NaN,NaN,NaN
NaN,0-4,111,127,79,85

In [10]:
# next drop the rows we don't need and create an index using the age bands column

# first thing is to replace the index with something usable
df.reset_index(inplace = True, drop = True)

    
# Now I just want to drop rows with indexes 0 to 8 and 32 to 34

df.drop(df.index[32:35], inplace = True)
df.drop(df.index[0:9], inplace = True)
df.reset_index(inplace = True, drop = True)

In [11]:
# now our dataframe looks like this
df

   Age bands Swiss males Swiss females Non-swiss males Non-swiss females
0        0-4         111           127              79                85
1        5-9         106            90              62                61
2      10-14          88            75              52                42
3      15-19         108            92              54                45
4      20-24         186           181              55                70
5      25-29         222           245             136               147
6      30-34         220           235             194               206
7      35-39         174           161             183               233
8      40-44         159           169             155               142
9      45-49         173           166             120               100
10     50-54         190           218             110                90
11     55-59         188           233              78                62
12     60-64         160           198              75                54
13     65-69         135           205              39                37
14     70-74         145           215              29                29
15     75-79         129           192              25                26
16     80-84         103           214              18                15
17     85-89          63           162               5                 6
18     90-94          29            85               0                 5
19     95-99           6            14               1                 1
20   100-104           1             5               0                 0
21   105-109           0             0               0                 0
22   110-114           0             0               0                 0

In [12]:
# now we need to add some columns to identify the Wohnviertel

df.insert(0, 'Wohnviertel id', 4)
df.insert(1, 'Wohnviertel', 'Breite')

In [13]:
# And finally, for a single wohnviertel sheet we have this
df

,Wohnviertel id,Wohnviertel,Age bands,Swiss males,Swiss females,Non-swiss males,Non-swiss females
0,4,Breite,0-4,111,127,79,85
1,4,Breite,5-9,106,90,62,61
2,4,Breite,10-14,88,75,52,42
3,4,Breite,15-19,108,92,54,45
4,4,Breite,20-24,186,181,55,70
5,4,Breite,25-29,222,245,136,147
6,4,Breite,30-34,220,235,194,206
7,4,Breite,35-39,174,161,183,233
8,4,Breite,40-44,159,169,155,142
9,4,Breite,45-49,173,166,120,100
10,4,Breite,50-54,190,218,110,90
11,4,Breite,55-59,188,233,78,62
12,4,Breite,60-64,160,198,75,54
13,4,Breite,65-69,135,205,39,37
14,4,Breite,70-74,145,215,29,29
15,4,Breite,75-79,129,192,25,26
16,4,Breite,80-84,103,214,18,15
17,4,Breite,85-89,63,162,5,6
18,4,Breite,90-94,29,85,0,5
19,4,Breite,95-99,6,14,1,1
20,4,Breite,100-104,1,5,0,0
21,4,Breite,105-109,0,0,0,0
22,4,Breite,110-114,0,0,0,0

# So there we have a PoC, now we want combine all the steps into a loop and create a single dataframe containing data for all Wohnviertels

That is, something like

for all the sheets in original file
    - load the sheet
    - rename the columns and delete the columns we don't want
    - delete the rows we don't want
    - append the data from this sheet into the resulting dataframe

# Note it was at this point that I realised not each sheet was the same

I tried to simply combine all of the steps so far into a loop but found that not every sheet in the source Excel file had the same number of columns:

In [14]:
# show shape of each wohnviertel sheet


for wv in wohnviertel_sheets:
    # read in sheet
    my_df = data.parse(wv)

    print(wv + str(my_df.shape))
    
# So every sheet has a different number of columns
# When I looked at each sheet, they all seemed to have the same structure so maybe this had something to do with
# the active range? In any case, I needed to structure the code to manipulate the columns a little differently

Altstadt Grossbasel(35, 13)
Vorstädte(35, 18)
Am Ring(35, 20)
Breite(35, 18)
St. Alban(35, 18)
Gundeldingen(35, 19)
Bruderholz(35, 17)
Bachletten(35, 18)
Gotthelf(35, 17)
Iselin(35, 20)
St. Johann(35, 19)
Altstadt Kleinbasel(35, 17)
Clara(35, 17)
Wettstein(35, 18)
Hirzbrunnen(35, 18)
Rosental(35, 19)
Matthäus(35, 18)
Klybeck(35, 18)
Kleinhüningen(35, 17)
Riehen(35, 17)
Bettingen(35, 20)

In [15]:
output_df = pd.DataFrame(columns = ('Wohnviertel id', 'Wohnviertel', 'Age bands', 'Swiss males',
       'Swiss females', 'Non-swiss males', 'Non-swiss females'))

wv_id = 1

for wv in wohnviertel_sheets:
    # read in sheet
    wv_df = pd.DataFrame
    wv_df = data.parse(wv)
    
    # rename columns we are interested in 
    wv_df.rename(columns={'Präsidialdepartement des Kantons Basel-Stadt': 'Age bands', 'Unnamed: 2' : 'Swiss males', 'Unnamed: 3' : 'Swiss females', 'Unnamed: 6' : 'Non-swiss males', 'Unnamed: 7' : 'Non-swiss females'}, inplace = True)
    
    
    # To avoid issues with number of columns, create list of columns we want to preserve
    columns_to_keep = ('Age bands', 'Swiss males', 'Swiss females', 'Non-swiss males', 'Non-swiss females')
    
    # now iterate over the columns and drop those not in this list
    for col in wv_df.columns:
        if col not in columns_to_keep:
            wv_df.drop(col, axis = 1, inplace = True)

    # drop rows
    wv_df.reset_index(inplace = True, drop = True)
    wv_df.drop(wv_df.index[32:35], inplace = True)
    wv_df.drop(wv_df.index[0:9], inplace = True)

    # insert new columns
    # this is where we leverage the fact our sheet 
    wv_df.insert(0, 'Wohnviertel id', wv_id )
    wv_df.insert(1, 'Wohnviertel', wv)
    
    # concatenate the df to the output dataframe
    output_df = pd.concat([output_df, wv_df])
    
    # increment wv_id
    wv_id += 1
    

# reset the index on the output
output_df.reset_index(inplace = True, drop = True)

In [16]:
# I noticed that there was some whitespae in the age bands column which I wanted to remove too 
output_df['Age bands'] = output_df['Age bands'].str.strip()

In [17]:
output_df

,Wohnviertel id,Wohnviertel,Age bands,Swiss males,Swiss females,Non-swiss males,Non-swiss females
0,1,Altstadt Grossbasel,0-4,18,29,14,13
1,1,Altstadt Grossbasel,5-9,18,31,3,7
2,1,Altstadt Grossbasel,10-14,20,17,9,2
3,1,Altstadt Grossbasel,15-19,33,25,14,9
4,1,Altstadt Grossbasel,20-24,43,68,22,23
5,1,Altstadt Grossbasel,25-29,68,62,48,35
6,1,Altstadt Grossbasel,30-34,57,50,29,51
7,1,Altstadt Grossbasel,35-39,52,47,49,43
8,1,Altstadt Grossbasel,40-44,60,51,45,41
9,1,Altstadt Grossbasel,45-49,83,49,44,29
10,1,Altstadt Grossbasel,50-54,96,80,48,33
11,1,Altstadt Grossbasel,55-59,90,83,31,21
12,1,Altstadt Grossbasel,60-64,80,74,17,15
13,1,Altstadt Grossbasel,65-69,78,73,6,10
14,1,Altstadt Grossbasel,70-74,61,53,7,4
15,1,Altstadt Grossbasel,75-79,32,63,8,0
16,1,Altstadt Grossbasel,80-84,29,27,2,1
17,1,Altstadt Grossbasel,85-89,16,25,0,3
18,1,Altstadt Grossbasel,90-94,3,9,0,0
19,1,Altstadt Grossbasel,95-99,0,1,0,0
20,1,Altstadt Grossbasel,100-104,0,0,0,0
21,1,Altstadt Grossbasel,105-109,0,0,0,0
22,1,Altstadt Grossbasel,110-114,0,0,0,0
23,2,Vorstädte,0-4,46,47,50,35
24,2,Vorstädte,5-9,35,26,31,33
25,2,Vorstädte,10-14,20,26,42,28
26,2,Vorstädte,15-19,42,36,24,42
27,2,Vorstädte,20-24,88,103,33,42
28,2,Vorstädte,25-29,124,123,109,104
29,2,Vorstädte,30-34,114,79,132,149
...,...,...,...,...,...,...,...
453,20,Riehen,80-84,336,527,25,37
454,20,Riehen,85-89,258,419,17,13
455,20,Riehen,90-94,88,225,2,5
456,20,Riehen,95-99,19,59,0,0
457,20,Riehen,100-104,4,8,0,0
458,20,Riehen,105-109,0,1,0,0
459,20,Riehen,110-114,0,0,0,0
460,21,Bettingen,0-4,15,18,1,4
461,21,Bettingen,5-9,25,21,10,13
462,21,Bettingen,10-14,27,15,9,7
463,21,Bettingen,15-19,17,18,10,5
464,21,Bettingen,20-24,35,32,16,11
465,21,Bettingen,25-29,21,18,8,9
466,21,Bettingen,30-34,11,13,8,15
467,21,Bettingen,35-39,17,23,9,8
468,21,Bettingen,40-44,17,16,11,13
469,21,Bettingen,45-49,25,24,17,20
470,21,Bettingen,50-54,48,39,15,11
471,21,Bettingen,55-59,45,39,5,9
472,21,Bettingen,60-64,29,35,9,9
473,21,Bettingen,65-69,24,26,7,2
474,21,Bettingen,70-74,29,37,3,2
475,21,Bettingen,75-79,15,34,4,3
476,21,Bettingen,80-84,20,29,0,3
477,21,Bettingen,85-89,5,20,1,1
478,21,Bettingen,90-94,1,12,0,0
479,21,Bettingen,95-99,1,6,0,0
480,21,Bettingen,100-104,0,1,0,0
481,21,Bettingen,105-109,0,0,0,0
482,21,Bettingen,110-114,0,0,0,0

In [18]:
# looks ok, now import to a csv
output_df.to_csv(out_file_path, index=False, sep = ';', decimal=',' )

In [19]:
# now try reading the file into a new dataframe and making sure it looks sensible

read_from_csv_df = pd.read_csv(out_file_path, sep = ';', decimal=',')

In [20]:
read_from_csv_df.head(10)

,Wohnviertel id,Wohnviertel,Age bands,Swiss males,Swiss females,Non-swiss males,Non-swiss females
0,1,Altstadt Grossbasel,0-4,18,29,14,13
1,1,Altstadt Grossbasel,5-9,18,31,3,7
2,1,Altstadt Grossbasel,10-14,20,17,9,2
3,1,Altstadt Grossbasel,15-19,33,25,14,9
4,1,Altstadt Grossbasel,20-24,43,68,22,23
5,1,Altstadt Grossbasel,25-29,68,62,48,35
6,1,Altstadt Grossbasel,30-34,57,50,29,51
7,1,Altstadt Grossbasel,35-39,52,47,49,43
8,1,Altstadt Grossbasel,40-44,60,51,45,41
9,1,Altstadt Grossbasel,45-49,83,49,44,29

# Looks OK!

In [24]:
# I also added a function that essentially does the same 

# - Import our custom code for importing data
import os,sys,inspect
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), '../../code/mapping'))) 

import read_data as rd

from_function_df = rd.read_2017_age_demographics('../../data/')

In [25]:
from_function_df.head(10)

,Wohnviertel id,Wohnviertel,Age bands,Swiss males,Swiss females,Non-swiss males,Non-swiss females
0,1,Altstadt Grossbasel,0-4,18,29,14,13
1,1,Altstadt Grossbasel,5-9,18,31,3,7
2,1,Altstadt Grossbasel,10-14,20,17,9,2
3,1,Altstadt Grossbasel,15-19,33,25,14,9
4,1,Altstadt Grossbasel,20-24,43,68,22,23
5,1,Altstadt Grossbasel,25-29,68,62,48,35
6,1,Altstadt Grossbasel,30-34,57,50,29,51
7,1,Altstadt Grossbasel,35-39,52,47,49,43
8,1,Altstadt Grossbasel,40-44,60,51,45,41
9,1,Altstadt Grossbasel,45-49,83,49,44,29

# Looks about right